<ion-header>
  <ion-toolbar>
    <ion-thumbnail slot="start">
      <img src="/assets/MarkyTube.png" alt=""/>
    </ion-thumbnail>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Movies
    </ion-title> 
    <app-menu></app-menu>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="Movies.SelectedMovie != null" class="welcome-card ion-card-video">
    <ion-card-content class="ion-card-content-video">
      <div id="video-player-wrapper">
        <div class="container">
            <div class="video-row">
                <div id="video-container">
                    <video class="video" controls autoplay>
                        <source [attr.src]="Movies.SelectedMovie.Path" type="video/mp4" />
                    </video>
                </div>
            </div>
            <div *ngIf="Movies.SelectedMovie != null" id="video-info">
                <span>{{ Movies.SelectedMovie.Content }}</span>
            </div>
        </div>
    </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Movie</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
            <ion-col size-xs="12" size-sm="12" size-md="4" size-xl="3" size-lg="3" *ngFor="let vid of Movies.MovieList">
              <a [attr.href]="'/movies?id=' + vid.VidId" class="link text-decoration-none">
                <div class="mini-vid-wrapper">
                    <div (mouseenter)="ShowPreview($event.currentTarget)" (mouseleave)="HidePreview()" class="vid-thumbnail-container ion-background-color">
                        <div [attr.id]="'vid-preview' + vid.VidId">
                        </div>
                        <div class="vid-thumbnail" [attr.data-id]="'vid-preview' + vid.VidId" [attr.data-info]="vid.Path">
                            <img width="209" height="117" [attr.src]="vid.Thumbnail" />
                        </div>
                    </div>
                    <div class="ion-text-center padding-bottom">{{vid.Content}}</div>
                </div>
            </a>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
